# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/
.txt
# Unit test / coverage reports
.coverage
.htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Virtual Environments
venv/
.env/

# Selenium WebDriver files
*.log
geckodriver.log
chromedriver.log

# IDE specific (VS Code)
.vscode/